/** Montserrat Light **/
@font-face {
    font-family: "Montserrat Light";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/Montserrat-Light.eot");
    src: url("../fonts/Montserrat-Light.eot?#iefix") format('embedded-opentype'),
         url("../fonts/Montserrat-Light.woff2") format("woff2"),
         url("../fonts/Montserrat-Light.woff") format("woff");
}
/** Montserrat Regular **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Montserrat-Regular.eot");
    src: url("../fonts/Montserrat-Regular.eot?#iefix") format('embedded-opentype'),
         url("../fonts/Montserrat-Regular.woff2") format("woff2"),
         url("../fonts/Montserrat-Regular.woff") format("woff");
}
/** Montserrat Medium **/

@font-face {
    font-family: "Montserrat Medium";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Montserrat-Medium.eot");
    src: url("../fonts/Montserrat-Medium.eot?#iefix") format('embedded-opentype'),
         url("../fonts/Montserrat-Medium.woff2") format("woff2"),
         url("../fonts/Montserrat-Medium.woff") format("woff");
}

/** Montserrat Light **/
@font-face {
    font-family: "Steam Light";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/Stem W03 Light.eot");
    src: url("../fonts/Stem W03 Light.eot?#iefix") format('embedded-opentype'),
         url("../fonts/Stem W03 Light.woff2") format("woff2"),
         url("../fonts/Stem W03 Light.woff") format("woff");
}
/** Montserrat Regular **/
@font-face {
    font-family: "Steam";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Stem W03 Regular.eot");
    src: url("../fonts/Stem W03 Regular.eot?#iefix") format('embedded-opentype'),
         url("../fonts/Stem W03 Regular.woff2") format("woff2"),
         url("../fonts/Stem W03 Regular.woff") format("woff");
}
/** Montserrat Medium **/

@font-face {
    font-family: "Steam Medium";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Stem W03 Medium.eot");
    src: url("../fonts/Stem W03 Medium.eot?#iefix") format('embedded-opentype'),
         url("../fonts/Stem W03 Medium.woff2") format("woff2"),
         url("../fonts/Stem W03 Medium.woff") format("woff");
}